body {
  font-family: sans-serif;
  font-size: 12px;
  background: #eee;
  margin: 0px;
  padding: 0px;
}

img {
  border: none;
}

div a {
  color: #4682b4;
}

div a:visited {
  color: #4682b4;
}

div a:hover {
  color: #ff6347;
}

table#standings {
  border-collapse: separate;
  border-spacing: 2px;
  text-align: center;
  margin: 0 auto;
}

table#standings th {
  background: #4682b4;
  padding: 2px 3px;
}

table#standings th a {
  color: #fff;
  text-decoration: none;
}

table#standings th a:hover {
  color: #333;
}

table#standings tr.odd {
  background: #91a2bc;
}

table#standings tr.even {
  background: #b0c4de;
}

table#standings tr.hover {
  background: #ff6347;
}

table#standings td {
  padding: 2px 3px;
  cursor: default;
}

td.name-column {
  text-align: left;
  white-space: nowrap;
}

div#footer {
  margin: 10px;
}

div#footer img {
  border: none;
}

table.table_results {
  border-collapse: separate;
  border-spacing: 2px;
  background: #eee;
  text-align: center;
}

table.table_results th {
  background: #4682b4;
  padding: 2px 3px;
  color: #fff;
  text-decoration: none;
}

table.table_results tr.odd {
  background: #91a2bc;
}

table.table_results tr.even {
  background: #b0c4de;
}

table.table_results tr.even:hover, table.table_results tr.odd:hover {
  background: #ff6347;
}

table.table_results td {
  padding: 2px 3px;
}

td a, td a:visited  { 
  color: #000;
  text-decoration: underline; 
}

td a:hover { 
  color: #fff; 
}
