body {
  font-family: sans-serif;
  font-size: 12px;
  background: #eee;
}

table#standings {
  border-collapse: separate;
  border-spacing: 2px;
  text-align: center;
}

table#standings th {
  background: #4682b4;
  padding: 2px 3px;
}

table#standings th a {
  color: #fff;
  text-decoration: none;
}

table#standings th a:hover {
  color: #333;
}

table#standings tr.odd {
  background: #91a2bc;
}

table#standings tr.even {
  background: #b0c4de;
}

table#standings tr.hover {
  background: #ff6347;
}

table#standings td {
  padding: 2px 3px;
  cursor: default;
}

table#standings td.name-column {
  text-align: left;
  white-space: nowrap;
}
