<% title('Tournaments') %>
<script type="text/javascript">
	document.body.style.background = "#EEEEEE url(/images/iguanodon.gif) no-repeat fixed bottom right";
</script>
<h2>Tournaments</h2>
<% @series.each do |series| %>
	<div>
		<%= series.name %>
		<ul>
			<% @tournaments[series.id].each do |tournament| %>
				<li><%= tournament_link tournament %></li>
			<% end %>
		</ul>
	</div>
	
<% end %>