<h2>Tournaments</h2>
<% @series.each do |series| %>
	<div>
		<%= series.name %>
		<ul>
			<% @tournaments[series.id].each do |tournament| %>
				<li><%= link_to(tournament.tournament_date.strftime("%B %e, %Y"), :controller => 'tournament', :action => 'view', :id => tournament.id) %></li>
			<% end %>
		</ul>
	</div>
	
<% end %>