<% title('Series') %>
<script type="text/javascript">
	document.body.style.background = "#EEEEEE url(/images/hypnotoad.gif) no-repeat fixed bottom right";
</script>
<h2>Series</h2>
<div>
  <ul>
    <% @series.each do |series| %>
			<li><%= series_link series %><%= if !series.is_complete? then " (current)" end %></li>
		<% end %>
	</ul>
</div>
