<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Poker Stats</title>
    <%= stylesheet_link_tag 'styles' %>
    <script type="text/javascript">
      if (navigator.appName == "Microsoft Internet Explorer") {
        alert('Why are you using IE?');
        window.location = "http://www.mozilla.com/firefox/";
      }
    </script>
  </head>
  <body>
    <div id="page">
      <%= yield -%>
    </div>
    <div id="footer">
      <a href="http://validator.w3.org/check?uri=referer">
        <img src="http://www.w3.org/Icons/valid-xhtml10-blue" alt="Valid XHTML 1.0 Transitional" height="18" width="51" />
      </a>
      <a href="http://jigsaw.w3.org/css-validator/check/referer">
        <img src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!" height="18" width="51" />
      </a>
    </div>
  </body>
</html>
